<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .jumbotron {
      background-color: #343a40;
      color: #ffffff;
      padding: 2rem;
      margin-top: 20px;
    }

    h1, h3 {
      color: #007bff;
    }

    .technologies {
      margin-top: 20px;
    }

    .technology-badge {
      font-size: 1.2em;
      margin-right: 10px;
    }
  </style>
</head>
<body>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Home</h1>
      <p class="lead">Sebastián es un ingeniero de sistemas en su último semestre, con 4 años de experiencia 
        como desarrollador en el diseño, desarrollo y mantenimiento de soluciones informáticas. Se 
        especializa en tecnologías como Java, Spring, Spring Boot, bases de datos, APIs y 
        metodologías ágiles. Además, posee experiencia en el desarrollo frontend utilizando Angular 
        y Flutter. Sebastián cuenta con amplios conocimientos en AWS para el despliegue y la 
        escalabilidad, haciendo uso de servicios como EC2, ECR, Stack, ECS, S3, Api Gateway, SQS, 
        SNS, Lambda y Cloudformation. Destaca también que posee el certificado AWS Cloud 
        Practitioner. Se le reconoce como un colaborador eficaz y orientado a resultados.
        </p>
      <hr class="my-4">
      <h3>Stack de tecnologías</h3>
      <div class="technologies">
        <span class="badge badge-primary technology-badge">Java</span>
        <span class="badge badge-primary technology-badge">Springboot</span>
        <span class="badge badge-primary technology-badge">Angular</span>
        <span class="badge badge-primary technology-badge">Flutter</span>
        <span class="badge badge-primary technology-badge">AWS</span>
        <!-- Agrega más tecnologías según sea necesario -->
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies (Popper.js and jQuery) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
